<%- partial('_partial/head') %>
<body>
	<div id="wrap"><%- body %></div>
    <script src="<%- config.root %>dist/jquery.min.js"></script>
    <script src="<%- config.root %>dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%- config.root %>dist/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="<%- config.root %>dist/ie10-viewport-bug-workaround.js"></script>
    <script src="<%- config.root %>js/myJs.js"></script>
</body>
</html>